@font-face {
   font-family: 'Gill Sans MT Bold Condensed';
   font-display: swap;
   src: url('file:///Users/auouser/Desktop/2021%E5%B9%B4%E5%BA%A6%E8%AB%96%E5%A3%87mobirise%E5%8C%AF%E5%87%BA/fonts/Gill%20Sans%20MT%20Bold%20Condensed/font.ttf');
}
